<app-header [title]="title"></app-header>
<app-navbar></app-navbar>
<div class="container overflow-hidden">


  <div class="row">
    <div class="col-sm-5 p-sm-2">
      <h3>Add a cat</h3>
      <app-cat-form [buttonName]="buttonName" (outCat)="saveCat($event)"></app-cat-form>
    </div>


    <div class="col-sm-5 p-sm-2">


      <h3>Cat List</h3>
      <ul class="list-group ">
        @for (cat of cats; track cats) {
          <li class="list-group-item list-group-item-action" (click)="goToEdit(cat)">{{ cat.name }}</li>
        }
      </ul>

    </div>
  </div>


</div>



